SOCIAL_AUTH_FACEBOOK_KEY=your_key
SOCIAL_AUTH_FACEBOOK_SECRET=your_secret
OUR_OAUTH2_CLIENT_ID=5ysYYZ0vFkAvt25439LngkGN4aB84IWmYBx1C61G
OUR_OAUTH2_CLIENT_SECRET=KX8QJZgEIZKeZJO6Ouz38Sd8smIngrEuAj4vOetgwIpQfgzSE7UKJOVXvi5bzdKsOj9W2OtS5n6Ndm1GO14VcubsZTX9KWNUYArthZ0hcwuMtZxLOF5hTYJ7BEGEQeEH
API_HOST=http://localhost:8000
DEFAULT_ROOT_USER=root
DEFAULT_ROOT_PASS=pass
